@mixin btn{
  padding: 14px 39px 14px 39px;
  background-color: $yellow;
  color: #FFFFFF;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;  
  border: none;
  cursor: pointer;
}